$font-family-sans-serif: 'Lato', sans-serif;
$body-color: #d0d5c6;
$body-bg: #3d4037;
$thumbnail-border-color: $body-color;
$card-bg: rgba(255, 255, 255, 0.1);
$list-group-bg: transparent;

@import "~bootstrap/scss/bootstrap";

header {
  background-color: $body-color;
  img {
    height: 2.5em;
  }
}

.has-banner .icon {
  margin-top: -50%;
  .rounded {
    background-color: $body-bg;
  }
}

.banner {
  min-height: 10vh;
}
